
###> symfony/framework-bundle ###
/.env.local
.env
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/public/servers/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpstan/phpstan ###
phpstan.neon
###< phpstan/phpstan ###

update_servers.sh
destroy_statistics.sh
/.idea/
